*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira sans','sans-serif';
}
body{
    background-color: white;
}
.App{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 100%;
    max-width: 400px;
   
    border-radius: 16px;
    overflow: hidden; 
    box-shadow: 0px 2px 64px rgba(0,0,0,0.2);


}
.display{
    padding: 16px;
    text-align: right;
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: 300;
}
.display span{
    font-size: 16px;
    color: black;
}
button{
    appearance: none;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;

}
button :hover{
    opacity: 0.9;
}
.operators{
    display: flex;
}
.operators button{
    flex: 1 1 0%;
    background-color: rgb(3, 59, 123);
    font-weight: 300;
}
.digits{
    display: flex;
    flex-wrap: wrap;
}
.digits button{
    flex: 1 1 33.333%;
    background-color: white;
    color: black;
}
